@import "classes.css";

body {
    font-weight: 300;
    font-size: 1.4em;
    background: #282828;
    background-size: cover;
    color: white;
    line-height: 1.6;
    margin: 0;
}

body > * {
    padding: .5em calc(20% - 4em);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-align: center;
}

span[ng-click], span[onclick] {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: inherit;
    transition: color 0.2s ease-out;
}

strong, b, th {
    font-weight: 400;
}

iframe, img, embed, object, video {
    max-width: 100%;
    border-radius: 2px;
}

input, textarea {
    font-family: inherit;
    font-size: .8em;
    line-height: 2.2;
    background-color: inherit;
    color: inherit;
    padding: .6em 1em;
    outline: none;
}

input:focus, textarea:focus {
    border: 1px solid royalblue;
}

table, textarea {
    width: 100%;
}

table {
    border-collapse: collapse;
}

tr {
    border-top: 1px solid #444;
}

.bright tr {
    border-top-color: #dbdbdb;
}

tr:first-of-type {
    border-top: none;
}

tr:hover {
    background: #343434;
}

.bright tr:hover {
    background: #ededed;
}

th {
    border-bottom-width: 2px;
}

th, td {
    padding: 0.5em 1em;
}

pre {
    overflow: auto;
    padding: 1em;
    font-size: 0.8em;
    background: #444;
    color: white;
    border-radius: 2px;
}

blockquote {
    border-left: 5px solid #46e;
    margin: 0;
    padding-left: 1.5em;
}

header span, .button {
    display: inline-block;
    text-align: center;
}

header span, header input, header textarea, .button {
    border-radius: 2px;
    padding: .3em 1.3em;
    margin: .3em .2em;
    vertical-align: middle;
    box-sizing: border-box;
}

header span, header input, header textarea {
    border: 1px solid #444;
    transition: .2s all;
}

header span:hover, header span.selected {
    background: #333;
    border-color: #333;
}

header .fa {
    font-size: .8em;
}

article {
    border-top: 1px solid #333;
    transition: .1s all;
    overflow-x: auto;
}

article:hover {
    background: #2d2d2d;
}

article.read {
    background: #242424;
}

.bright article {
    background: white;
    color: black;
    border-color: #eee;
}

.bright article:hover, .bright article.read {
    background: #fbfbfb;
}

article a {
    font-weight: 400;
}

article a:hover, article a:visited {
    color: gray;
}

article header * {
    display: inline;
}

article header time {
    float: right;
    color: #bbb;
}

.bright article header time {
    color: #333;
}

article header img {
    max-height: .9em;
    margin-right: .4em;
}

article div {
    margin: .5em 0;
}

article div img {
    margin-right: 1em;
    float: left;
}

body > header > *, footer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

body > header > div {
    margin: .5em -.2em;
}

body > header div div:last-child {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.lg-1 {
    font-size: 1.1em;
}

.lg-2 {
    font-size: 1.2em;
}

.lg-3 {
    font-size: 1.3em;
}

.lg-4 {
    font-size: 1.4em;
}

.margin-0 {
    margin: .5em 0;
}

.margin-1 {
    margin: 1em 0;
}

.margin-2 {
    margin: 2em 0;
}

.red.border, .ng-invalid, .red.fill, .red:hover {
    border-color: #f45;
}

.red.fill, .red:hover {
    background: #f45;
}

.blue.border, .blue.fill, .blue:hover {
    border-color: #57f;
}

.blue.fill, .blue:hover {
    background: #57f;
}

.green.border, .green.fill, .green:hover {
    border-color: #0b5;
}

.green.fill, .green:hover {
    background: #0b5;
}

.violet.border, .violet.fill, .violet:hover {
    border-color: #82f;
}

.violet.fill, .violet:hover {
    background: #82f;
}

.left {
    text-align: left;
}

.left.float {
    float: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.right.float {
    float: right;
}

.fa {
    width: 2.5em;
}
