<!DOCTYPE html>
<html ng-app="feedreader" ng-controller="login">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Atom Reader</title>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="basic.css" rel="stylesheet">
        <style>
        body {
            font-family: "Source Sans Pro", "Calibri", "Helvetica Neue", sans-serif;
            font-size: calc((.8vw + 1em) * 0.7);
        }
        </style>
        <script src="assets/angular.js"></script>
        <script>
        angular.module('feedreader', []).controller('login', ['$scope', '$http', '$window', function($scope, $http, $window) {
            $scope.session = {};
            $scope.local = JSON.parse(localStorage.getItem('local')) || {};
            $scope.global = JSON.parse(localStorage.getItem('global')) || {};
        
            $scope.$watch('local', function (local) {
                localStorage.setItem('local', JSON.stringify(local));
            }, true);
        
            $scope.$watch('global', function (global) {
                if (!global.feeds)
                    return;
                localStorage.setItem('global', JSON.stringify(global));
                $window.location.href = './';
            }, true);
        
            $scope.login = function () {
                $http.get($scope.api + btoa($scope.local.user + '/' + $scope.local.password)).success(function (data) {
                    $scope.global.feeds = data;
                }).error(function () {
                    $scope.session.error = true;
                    $scope.local.user = '';
                    $scope.local.password = '';
                });
            };
        }]);
        </script>
    </head>
    <body class="atom">
        <header>
            <div>
                <div>
                    <input ng-class="{'red': session.error}" autofocus placeholder="email" type="email" ng-model="local.user">
                    <input ng-class="{'red': session.error}" ng-keyup="$event.keyCode == 13 && login()" placeholder="password" type="password" ng-model="local.password">
                    <span class="icon" ng-click="login()"><i class="fa fa-angle-right"></i></span>
                    <span class="icon" ng-click="register()"><i class="fa fa-user-plus"></i></span>
                </div>
                <div>
                    <span ng-click="global.feeds = [{title: 'OSBN', url: 'http://osbn.de/feed.rss', tags: 'linux', color: 'royalblue', blacklist: []}]" class="violet fill" title="skip login"><i class="fa fa-desktop"></i></span>
                </div>
            </div>
        </header>
        <div>
            <h1 class="margin-0"><a href="https://github.com/niklasbuschmann/atom-reader">Atom Reader</a></h1>
            <p class="center margin-0">Version 1.0</p>
            <p class="center margin-0"><a href="http://www.gnu.org/copyleft/gpl.html">GNU GPL v3</a></p>
            <p class="margin-2"><i class="fa fa-globe"></i> Enter you email and password above to create an account or login to an existing.</p>
            <p class="margin-2"><i class="fa fa-cloud-download"></i> To continue without synchronization click on the desktop icon or download the desktop client.</p>
            <span class="blue lg-3 button"><a href="atomreader.exe"><i class="fa fa-windows"></i>Windows</a></span>
            <span class="red lg-3 button"><a href="atomreader.dmg"><i class="fa fa-apple"></i>Mac</a></span>
            <span class="green lg-3 button"><a href="atomreader.tar.gz"><i class="fa fa-linux"></i>Linux</a></span>
            <h3 class="left">Thanks to</h3>
            <span class="button red"><a href="http://mawalabs.de">Mawalu</a></li></span>
            <span class="button red"><a href="https://angularjs.org/">Angular JS</a></span>
            <span class="button red"><a href="https://github.com">Github</a></span>
            <span class="button red"><a href="http://nwjs.io/">NW.js</a></span>
            <span class="button red"><a href="https://fortawesome.github.io/Font-Awesome/">Font-Awesome</a></span>
            <p>Background: <a href="http://sicaida.deviantart.com/art/Low-Poly-Planet-339431107">"Low Poly Planet"</a> by <a href="http://sicaida.deviantart.com/">Sicaida</a> [<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY-NC-ND 3.0</a>]</p>
        </div>
        <footer><p>Made with &lt;3</p><p><a href="https://keybase.io/niklasbuschmann">Niklas Buschmann</a></p><p>2015</p></footer>
    </body>
</html>
