<!DOCTYPE html>
<html ng-app="feedreader" ng-controller="feed">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Atom Reader</title>
        <base target="_blank">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link ng-href="//fonts.googleapis.com/css?family={{ local.sans && local.sans.split(' ').join('+') || 'Source+Sans+Pro' }}:300,400" rel="stylesheet">
        <link ng-href="//fonts.googleapis.com/css?family={{ local.serif && local.serif.split(' ').join('+') || 'Gentium+Basic' }}:300,400" rel="stylesheet">
        <style ng-bind="local.customstyle"></style>
        <style>
        body {
            font-family: "{{ local.sans || 'Source Sans Pro' }}", "Calibri", "Helvetica Neue", sans-serif;
            font-size: {{ "calc((.8vw + 1em) * " + (local.fontsize + 4) / 10 + ")" }};
        }
        article header h2 {
            font-family: "{{ local.serif || 'Gentium Basic' }}", "Palatino Linotype", "Book Antiqua", "Palatino", serif;
        }
        </style>
        <script src="assets/angular.js"></script>
        <script src="assets/angular-sanitize.js"></script>
        <script src="assets/angular-touch.js"></script>
        <script src="assets/angular-filter.js"></script>
        <script src="assets/angular-relative-date.js"></script>
        <script>
        angular.module('feedreader', ['ngSanitize', 'ngTouch', 'angular.filter', 'relativeDate']).config(['$compileProvider', function($compileProvider) {   
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|data):/);
        }]).controller('feed', ['$scope', '$http', '$interval', '$window', function($scope, $http, $interval, $window) {
            $scope.session = {};
            $scope.local = JSON.parse(localStorage.getItem('local')) || {};
            $scope.global = JSON.parse(localStorage.getItem('global')) || {};
        
            $scope.api = 'http://localhost/';
            $scope.local.articles = $scope.local.articles || [];
            $scope.local.customstyle = $scope.local.customstyle || '@import "basic.css";';
            $scope.local.fontsize = $scope.local.fontsize || 3;
            $scope.local.compact = $scope.local.compact || 0;
        
            $scope.$watch('local', function (local) {
                localStorage.setItem('local', JSON.stringify(local));
            }, true);
        
            $scope.$watch('global', function (global) {
                localStorage.setItem('global', JSON.stringify(global));
                if (global && $scope.local.user && $scope.local.password)
                    $http.put($scope.api + btoa($scope.local.user + '/' + $scope.local.password), global);
            }, true);
        
            if ($scope.local.user && $scope.local.password) {
                 $http.get($scope.api + btoa($scope.local.user + '/' + $scope.local.password)).success(function (data) {
                    $scope.global.feeds = data;
                    $scope.session.selected = data;
                 }).error(function () {
                    $window.location.href = 'login.html';
                });
            }
            else if (!$scope.global.feeds)
                $window.location.href = 'login.html';
        
            $scope.update = function (feeds) {
                var feeds = feeds || $scope.global.feeds || [];
                feeds.forEach(function (feed) {
                    $http.jsonp('https://ajax.googleapis.com/ajax/services/feed/load?v=1.0&q=' + encodeURIComponent(feed.url) + '&callback=JSON_CALLBACK&num=100').then(function(response) {
                        if (response.data.responseStatus !== 200)
                            return false;
                        feed.homepage = response.data.responseData.feed.link;
                        var parser = document.createElement('a');
                        parser.href = feed.homepage;
                        feed.icon = '//' + parser.hostname + '/favicon.ico';
                        var id = $scope.global.feeds.indexOf(feed);
                        $scope.local.articles = $scope.local.articles.filter(function (article) {
                            return article.feed !== id;
                        }).concat(response.data.responseData.feed.entries.map(function (article) {
                            if (article.publishedDate)
                                article.publishedDate = new Date(article.publishedDate).toISOString();
                            article.feed = id;
                            return article;
                        }));
                    });
                });
            };
        
            $scope.import = function (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var outlines = Array.prototype.slice.call(new DOMParser().parseFromString(event.target.result, "application/xml").getElementsByTagName('outline'));
                    $scope.$apply(function (scope) {
                        $scope.local.articles = [];
                        scope.global.feeds = outlines.map(function (outline) {
                            return {
                                title: outline.getAttribute('title'),
                                url: outline.getAttribute('xmlUrl'),
                                blacklist: []
                            };
                        }).filter(function (feed) {
                            return feed.title && feed.url;
                        });
                    });
                };
                reader.readAsText(file);
            };
        
            $scope.export = function () {
                $scope.session.opml = 'data:application/xml;charset=utf-8,' + encodeURIComponent('<opml version="1.0"><head><title>Exported feeds [Atom Reader]</title></head><body>' + $scope.global.feeds.map(function (feed) {
                    return '<outline text="' + feed.title + '" title="' + feed.title + '" type="rss" xmlUrl="' + feed.url + '"/>';
                }).join('') + '</body></opml>');
            };
        
            document.body.ondragover = function (event) {
                event.preventDefault();
                event.stopPropagation();
            };
        
            document.body.ondrop = function (event) {
                event.preventDefault();
                event.stopPropagation();
                $scope.import(event.dataTransfer.files[0]);
            };
        
            $scope.$watch('local.autoupdate', function (autoupdate) {
                if (autoupdate)
                    $scope.session.interval = $interval(function () { $scope.update() }, 60000);
                else
                    $interval.cancel($scope.session.interval);
            });
        
            $scope.$watch('global.feeds', function (feeds) {
                if (!feeds)
                    return;
                $scope.session.selected = feeds;
                $scope.update();
            });
        }]);
        </script>
    </head>
    <body ng-class="{bright: local.theme}">
        <header>
            <div>
                <div>
                    <span ng-click="session.selected = feed" ng-class="{'selected': session.selected === feed}" ng-repeat="feed in global.feeds track by $index" ng-style="{'background': feed.color, 'border-color': feed.color}">{{ feed.title }}<i ng-click="session.edit = feed; session.backup = {title: session.edit.title, url: session.edit.url, tags: session.edit.tags, color: session.edit.color, blacklist: session.edit.blacklist, icon: session.edit.icon}; $event.stopPropagation()" class="fa fa-pencil edit"></i></span>
                    <span ng-click="session.edit = global.feeds[global.feeds.push({title: 'title', blacklist: []}) - 1]" title="add feed"><i class="fa fa-plus"></i></span>
                </div>
                <div>
                    <span ng-click="local.markauto = !local.markauto" title="mark articles automatically as read"><i ng-class="{'fa-square-o': !local.markauto, 'fa-check-square-o': local.markauto}" class="fa"></i></span>
                    <span ng-click="local.autoupdate = !local.autoupdate" title="update feeds in the background"><i ng-class="{'fa-toggle-off': !local.autoupdate, 'fa-toggle-on': local.autoupdate}" class="fa"></i></span>
                    <span ng-click="session.settings = !session.settings" title="settings"><i class="fa fa-cogs"></i></span>
                </div>
            </div>
            <div ng-if="session.edit">
                <div>
                    <input placeholder="title" type="text" ng-model="session.edit.title">
                    <input placeholder="url" type="url" ng-model="session.edit.url">
                    <input placeholder="tags" type="text" ng-model="session.edit.tags">
                    <input placeholder="color" type="text" ng-model="session.edit.color">
                </div>
                <div>
                    <span ng-click="local.articles = []; update(); global.feeds.splice(global.feeds.indexOf(session.edit), 1); session.selected = global.feeds; session.edit = false" class="red border" title="delete feed"><i class="fa fa-trash-o"></i></span>
                    <span ng-click="global.feeds[global.feeds.indexOf(session.edit)] = session.backup; session.edit = false" class="blue border" title="revert changes"><i class="fa fa-times-circle" ></i></span>
                    <span ng-click="update([session.edit]); session.edit = false" class="green border" title="apply changes"><i class="fa fa-check" ></i></span>
                </div>
            </div>
            <div>
                <div>
                    <span ng-click="session.selected = global.feeds" ng-class="{'selected': session.selected === global.feeds}">all feeds</span>
                    <span ng-click="session.selected = (global.feeds | fuzzyBy: 'tags': category)" ng-repeat="category in (global.feeds | map: 'tags' | join: ', ').split(', ') | unique" ng-class="{'selected': (session.selected | isEqual: (global.feeds | fuzzyBy: 'tags': category))}" ng-hide="category | isEmpty" ng-bind="category"></span>
                </div>
                <div>
                    <span ng-click="local.compact = (local.compact + 1) % 4" title="compact view"><i ng-class="['fa-bars', 'fa-list', 'fa-list-ul', 'fa-ellipsis-v'][local.compact]" class="fa"></i></span>
                    <span ng-click="local.showUnread = !local.showUnread" title="show unread"><i ng-class="{'fa-circle': local.showUnread, 'fa-circle-o': !local.showUnread}" class="fa"></i></span>
                    <span ng-click="local.theme = !local.theme" title="turn the lights on"><i class="fa fa-lightbulb-o"></i></span>
                </div>
            </div>
            <div ng-if="session.settings">
                <div>
                    <input placeholder="Article Font (Google)" type="text" ng-model="local.sans" ng-model-options="{updateOn: 'blur'}">
                    <input placeholder="Heading Font (Google)" type="text" ng-model="local.serif" ng-model-options="{updateOn: 'blur'}">
                    <span ng-click="local.fontsize = (local.fontsize + 1) % 6" title="font size"><i class="fa fa-text-height"></i></span>
                </div>
                <div>
                    <input id="file" type="file" style="display: none" onchange="angular.element(this).scope().import(this.files[0])">
                    <span onclick="document.getElementById('file').click()" title="import OPML" class="blue border"><i class="fa fa-cloud-upload"></i></span>
                    <span class="green border"><a download="feeds.opml" ng-href="{{ session.opml }}" ng-click="export()" title="export OPML" class="fa fa-cloud-download"></a></span>
                    <span class="red border"><a href="login.html" ng-click="$parent.global = {}; $parent.local = {}; $parent.session = {}" title="log out" class="fa fa-power-off" target="_self"></a></span>
                </div>
            </div>
            <div ng-if="session.settings">
                <textarea ng-model="local.customstyle" ng-model-options="{updateOn: 'blur'}"></textarea>
            </div>
        </header>
        <article ng-swipe-left="global.feeds[article.feed].blacklist.indexOf(article.link) !== -1 && global.feeds[article.feed].blacklist.splice(global.feeds[article.feed].blacklist.indexOf(article.link), 1)" ng-swipe-right="global.feeds[article.feed].blacklist.indexOf(article.link) === -1 && global.feeds[article.feed].blacklist.push(article.link)" ng-repeat="article in local.articles | orderBy: 'publishedDate': true  | unique: 'link' track by article.link" ng-class="{'read': global.feeds[article.feed].blacklist.indexOf(article.link) !== -1 }" ng-if="(global.feeds[article.feed].blacklist.indexOf(article.link) === -1 || local.showUnread) && (session.selected === global.feeds[article.feed] || session.selected.indexOf && session.selected.indexOf(global.feeds[article.feed]) !== -1)" ng-click="extended = !extended; !extended && local.markauto && global.feeds[article.feed].blacklist.indexOf(article.link) === -1 && global.feeds[article.feed].blacklist.push(article.link)">
            <header>
                <img onerror="this.style.display = 'none'" ng-src="{{ global.feeds[article.feed].icon }}">
                <h2 class="lg-1"><a ng-click="$event.stopPropagation()" ng-href="{{ article.link }}" ng-bind-html="article.title"></a></h2>
                <time class="float right" datetime="{{ article.publishedDate }}" ng-bind-html="article.publishedDate | relativeDate"></time>
            </header>
            <div ng-if="extended || local.compact">
                <span ng-class="{'selected': global.feeds[article.feed].blacklist.indexOf(article.link) !== -1}" ng-click="global.feeds[article.feed].blacklist.indexOf(article.link) === -1 && global.feeds[article.feed].blacklist.push(article.link) || global.feeds[article.feed].blacklist.splice(global.feeds[article.feed].blacklist.indexOf(article.link), 1); $event.stopPropagation()" class="circle float right" title="mark as read">&nbsp;</span>
                <div><a ng-href="{{ global.feeds[article.feed].url }}" ng-bind-html="global.feeds[article.feed].title"></a><span ng-if="article.author" ng-bind-html="' › ' + article.author"></span></div>
                <p ng-if="!extended && local.compact === 2" ng-bind="article.contentSnippet"></p>
                <div ng-if="extended || local.compact === 3" ng-click="$event.stopPropagation()" ng-bind-html="article.content"></div>
            </div>
        </article>
    </body>
</html>
